h1,
h4,
h5{
    text-transform: uppercase;
}

span i{
    font-size: 1.5em;
}

.wrapper{
    background-color: rgb(6, 202, 160);
    color: white;
}

.jumbo-img{
    width: 15%;
}

.portfolio-img-row > div > img{
    width: 100%;
    border-radius: 10px;
}

#jumbo{
    height: fit-content;
}

#portfolio{
    height: fit-content;
}

#about{
    height: fit-content;
}

#contact{
    height: fit-content;
}

footer.wrapper{
    background-color: rgb(47, 47, 83);
}

div.line{
    display: inline-block;
    background-color: white;
    width: 100px;
    height: 5px;
}

#portfolio .line,
#contact .line{
    background-color: black;
}

.dark-grey-bg{
    background-color: rgb(28, 27, 37);
}